<div class="dir-display text-center">
  <label for="dir-distance">Distance</label>
  <div class="dir-distance" id="dir-duration"><%= @distance %></div>

  <label for="dir-duration">Duration by <%= @mode %></label><br>
  <div class="dir-duration" id="dir-duration"><%= @duration %></div>
  <button class="btn-s"><a href="/users/<%= @user.id %>/directions">back to routes</a></button>
  <br>
</div>







