<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Get there as fast as you can</h1>
                <h3>we'll take care of the rest</h3>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

