<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>GoFast</h1>
        <br>
        <a href="/users/login" class="btn btn-dark btn-lg login">Login</a>
        <a href="/users/new" class="btn btn-dark btn-lg register">Register</a>
    </div>
</header>
